In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore')

pd.set_option('display.max_colwidth', None)

In [2]:
data = pd.read_csv('web-server-access-logs_10k.log', sep='- -', header=None)
print(data.shape)
print(data.columns)
data.head()

(10001, 2)
Int64Index([0, 1], dtype='int64')

,0,1
0,",""54.36.149.41","[22/Jan/2019:03:56:14 +0330] """"GET /filter/27|13%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,27|%DA%A9%D9%85%D8%AA%D8%B1%20%D8%A7%D8%B2%205%20%D9%85%DA%AF%D8%A7%D9%BE%DB%8C%DA%A9%D8%B3%D9%84,p53 HTTP/1.1"""" 200 30577 """"-"""" """"Mozilla/5.0 (compatible; AhrefsBot/6.1; +http://ahrefs.com/robot/)"""" """"-"""""""
1,"3089189,""5.210.140.170","[23/Jan/2019:12:43:40 +0330] """"GET /apple-touch-icon-120x120.png HTTP/1.1"""" 404 33679 """"-"""" """"MobileSafari/604.1 CFNetwork/976 Darwin/18.2.0"""" """"-"""""""
2,"6073343,""66.249.66.91","[24/Jan/2019:21:17:43 +0330] """"GET /static/images/guarantees/bestPrice.png HTTP/1.1"""" 304 0 """"-"""" """"Googlebot-Image/1.0"""" """"-"""""""
3,"9392152,""5.200.69.130","[26/Jan/2019:13:54:06 +0330] """"GET /image/1/brand HTTP/1.1"""" 200 3924 """"https://www.zanbil.ir/filter/b1,p62"""" """"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36"""" """"-"""""""
4,"4366289,""5.208.174.46","[23/Jan/2019:22:52:04 +0330] """"GET /image/1221/mainSlideMobile HTTP/1.1"""" 200 68387 """"https://www.zanbil.ir/m/browse/cell-phone/%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84"""" """"Mozilla/5.0 (Linux; Android 6.0.1; SAMSUNG SM-N910C Build/MMB29K) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/8.2 Chrome/63.0.3239.111 Mobile Safari/537.36"""" """"-"""""""

In [3]:
data = pd.read_csv('weblog.csv')
print(data.shape)
print(data.columns)
data.head()

(16007, 4)
Index(['IP', 'Time', 'URL', 'Staus'], dtype='object')

,IP,Time,URL,Staus
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [4]:
data = pd.read_csv('CIDDS-001-external-week1.csv')
print(data.shape)
print(data.columns)
data.head()

(172838, 16)
Index(['Date first seen', 'Duration', 'Proto', 'Src IP Addr', 'Src Pt',
       'Dst IP Addr', 'Dst Pt', 'Packets', 'Bytes', 'Flows', 'Flags', 'Tos',
       'class', 'attackType', 'attackID', 'attackDescription'],
      dtype='object')

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,2017-03-14 17:43:57.172,81412.697,TCP,EXT_SERVER,8082,OPENSTACK_NET,56978.0,3057,2.1 M,1,.AP...,0,normal,---,---,---
1,2017-03-14 17:43:57.172,81412.697,TCP,OPENSTACK_NET,56978,EXT_SERVER,8082.0,4748,2.5 M,1,.AP...,0,normal,---,---,---
2,2017-03-14 17:43:26.135,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---
3,2017-03-14 17:43:26.135,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---
4,2017-03-14 18:17:09.005,82100.692,TCP,EXT_SERVER,8082,OPENSTACK_NET,51649.0,11012,27.2 M,1,.AP.S.,0,normal,---,---,---

In [5]:
data = pd.read_csv('logfiles.log')
print(data.shape)
print(data.columns)
data.head()

(2, 2)
Index(['2023-01-28 23:44:36', '328 DEBUG Debug message'], dtype='object')

   2023-01-28 23:44:36       328 DEBUG Debug message
0  2023-01-28 23:44:36  328 INFO Informative message
1  2023-01-28 23:44:36       329 ERROR Error message

In [6]:
data = pd.read_csv('access_log.txt', sep='- -', header=None)
print(data.shape)
print(data.columns)
data.head()

(4477843, 2)
Int64Index([0, 1], dtype='int64')

,0,1
0,10.223.157.186,"[15/Jul/2009:14:58:59 -0700] ""GET / HTTP/1.1"" 403 202"
1,10.223.157.186,"[15/Jul/2009:14:58:59 -0700] ""GET /favicon.ico HTTP/1.1"" 404 209"
2,10.223.157.186,"[15/Jul/2009:15:50:35 -0700] ""GET / HTTP/1.1"" 200 9157"
3,10.223.157.186,"[15/Jul/2009:15:50:35 -0700] ""GET /assets/js/lowpro.js HTTP/1.1"" 200 10469"
4,10.223.157.186,"[15/Jul/2009:15:50:35 -0700] ""GET /assets/css/reset.css HTTP/1.1"" 200 1014"

In [7]:
data = pd.read_csv('nasa_aug95_c.csv')
print(data.shape)
print(data.columns)
data.head()

(1569888, 5)
Index(['requesting_host', 'datetime', 'request', 'status', 'response_size'], dtype='object')

,requesting_host,datetime,request,status,response_size
0,in24.inetnebr.com,1995-08-01T00:00:01+00:00,GET /shuttle/missions/sts-68/news/sts-68-mcc-05.txt HTTP/1.0,200,1839.0
1,uplherc.upl.com,1995-08-01T00:00:07+00:00,GET / HTTP/1.0,304,0.0
2,uplherc.upl.com,1995-08-01T00:00:08+00:00,GET /images/ksclogo-medium.gif HTTP/1.0,304,0.0
3,uplherc.upl.com,1995-08-01T00:00:08+00:00,GET /images/MOSAIC-logosmall.gif HTTP/1.0,304,0.0
4,uplherc.upl.com,1995-08-01T00:00:08+00:00,GET /images/USA-logosmall.gif HTTP/1.0,304,0.0